<form action="{{.AuthURL "password/register"}}" method="POST">
  <div class="login form-wrap">
      <label for="login">Email:</label>
      <input name="login" type="email" id="login">
      <label for="password">Пароль:</label>
      <input name="password" type="password" id="password">
    <div class="login buttons">
      <input type="submit" class="login-btn" value="Зарегистрироваться">
    </div>
  </div>
</form>
