.login.form-wrap {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  margin-bottom: 20px;
}

.login.buttons {
  grid-column: 1 / span 2;
}

.login label {
  text-align: right;
}

.login-btn {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.admin-text {
  padding: 10px;
}

.admin-text-par {
  margin-bottom: 10px;
}
